.titulo {
    scroll-snap-align: start;
    /* Indica el punto en el contenedor de desplazamiento al que 
debe ajustarse el contenido*/
    scroll-snap-stop: always;
    /* Controla si el desplazamiento debe detenerse siempre en 
los puntos de ajuste */
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo span {
    font-size: 2rem;
    /* transparencia */
    color: rgba(231, 113, 182, 19%);
}

.container {
    margin: 0 auto;
    text-align: center;
}

.navegacion-principal {
    background-color: var(--secundario);
    display: flex;
    flex-direction: column;
    justify-content: space-around; /*Dejar espaciado al final, inicio y entre anclas*/
    align-items: center;
}

.navegacion-principal a { 
    background-color: var(--secundario); /*Color azul del ancla*/
    padding: 1rem;
    text-decoration: none; /*Quitar subrayado*/
    font-weight: bold;
    font-size: 2rem;
    color: var(--blanco);

}

.navegacion-principal a:hover { /*Cambio de colores para resaltar el hover*/
    background-color: var(--primario);
    color: var(--oscuro);
}

@media (min-width: 480px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-around;
    }
}